<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.label305.stan.analytics">

    <application android:allowBackup="true">
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />
    </application>

</manifest>
